.btn-primary {
    background-color: rgba(134, 17, 67, 1);
    border: none;
}

    .btn-primary:hover {
        background-color: rgba(134, 17, 67, 0.8);
    }


.btn-info {
    background-color: rgba(0, 19, 43, 1);
    color: white;
    border: none;
}

    .btn-info:hover {
        background-color: rgba(0, 26, 112, 0.8);
        color: white;
    }

.btn-warning {
    background-color: rgba(0, 44, 28, 1);
    color: white;
    border: none;
}

    .btn-warning:hover {
        background-color: rgba(0, 112, 59, 0.8);
        color: white;
    }

.btn-danger {
    background-color: rgba(43, 0, 0, 1);
    color: white;
    border: none;
}

    .btn-danger:hover {
        background-color: rgba(106, 0, 0, 0.8);
        color: white;
    }

    .card {
        background-color: rgba(134, 17, 67, 0.3);
        height: 100%;
    }

.card-img-top {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

/* Highlight active nav item with white bold text and underline */
.navbar-nav .nav-item .nav-link.active {
    color: white !important; /* Ensure text is white */
    font-weight: bold !important; /* Make the text bold */
    text-decoration: underline !important; /* Add an underline */
}

/* Optional: Remove underline from non-active items */
.navbar-nav .nav-item .nav-link {
    text-decoration: none; /* Removes underline from non-active items */
}
